@import "tailwindcss";
/*@import "tailwindcss-primeui";*/

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --color-primary: #FF6B00;
    --color-background-dark: #101922;
    --color-background-light: #f6f7f8;
    --color-surface-dark: #111111;
    --color-surface-light: #ffffff;
    /*--color-card-dark: #1e2832;
    --color-border-dark: #283039;
    
    --color-accent: #FDB931;*/

    --font-display: Inter, sans-serif;
    --font-body: "Noto Sans", sans-serif;

    --radius-default: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-full: 9999px;
}

@layer utilities {
    .skew-parallelogram-left {
        transform: skewY(-6deg);
    }

    .skew-parallelogram-right {
        transform: skewY(6deg);
    }

    .organic-radius {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    .blob-shape {
        border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
        animation: morph 8s ease-in-out infinite;
    }

    @keyframes morph {

        0%,
        100% {
            border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
        }

        34% {
            border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
        }

        67% {
            border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        }
    }

    .clip-custom {
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }

    .glass-panel {
        background: rgba(16, 22, 34, 0.85);
        backdrop-filter: blur(10px);
    }
}